body, html {
  height: 100%;
}

.img{
  height:100vh;
  object-fit: cover;
} 
p {
  color: rgb(226, 17, 17);
  font-family: 'Jazz LET, fantasy', cursive;
}


.affiche{
<<<<<<< HEAD
  background-color: white;
=======
  background-color: darkslategray;
>>>>>>> 8bc6d4e2d757772de537974e1f7d2bdb0bf2d98a
  height: 300px;
}
 
.parallax {
  /* The image used */
  background-image: url('./img/metropolis.jpg');
  
  min-height: 450px;
  background: transparent;

  /* Full height */
  height: 30%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

