body, html {
  height: 100%;
}

.img{
  height:100vh;
  object-fit: cover;
} 
p {
  color: rgb(226, 17, 17);
  font-family: 'Jazz LET, fantasy', cursive;
}


.affiche{
  background-color: darkslategray;
  height: 150px;
}
 
.parallax {
  /* The image used */
  background-image: url('../img/metropolis.jpg');
  background-color: darkslategray;
  height: auto;

  /* Full height */
  height: 30%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

